html, body {
    height: 100%;
    margin: 0;
    background-color: var(--smiski-green);
}

:root {
    --smiski-green: rgb(193, 205, 177);
    --dark-green: rgb(70, 81, 55);
    --border-corner-size: 10px;
}

/* Entire Page layout */
.content {
    height: 100%;
    margin-top: 125px;
    padding: 10px;
    font-family: Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Header styling */
header {
    /* (in a font context) */
    /* rem = relative to doc's font; em = relative to parent's font */
    /* font-size: 1.5rem; */
    font-size: 1.5em;
    color: var(--dark-green);
    padding: 0;
}

h1 {
    margin: 0;
}

/* Search styling */
form > input {
    border-radius: var(--border-corner-size);
    border-color: white;
}

form > button {
    border-radius: var(--border-corner-size);
    border-color: buttonface;
}

/* Weather content styling */
.weather-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px; 
}

@media (max-width: 500px) {
    .weather-content {
        grid-template-columns: repeat(auto-fit, 100%);
    }
}

.day-container {
    background-color: white;
    max-height: 250px;
    border-radius: var(--border-corner-size);
    font-size: 1.25rem;
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center; /* center items vertically */
}

.day-container > img {
    max-height: 250px;
}